In [1]:
# change current directory to the project directory
import os

# change directory
os.chdir("../")

# print current directory
os.getcwd()

'/Users/evanrootness/Project1/USCensusDSProject'

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import math
import scipy.optimize as opt
import seaborn as sns

In [3]:
dfFinance = pd.read_csv('data/Finance.csv')
dfEducation = pd.read_csv('data/Educationv.csv')
dfIndustry = pd.read_csv('data/Industry.csv')

In [ ]:

# test = pd.read_csv('/kaggle/input/titanic/test.csv')

# training['train_test'] = 1
# test['train_test'] = 0
# test['Survived'] = np.NaN
# all_data = pd.concat([training,test])
# all_data.columns

# Data Exploration

In [4]:
print(dfIndustry.shape, dfFinance.shape, dfEducation.shape)

(1311, 43) (1311, 13) (874, 5)

In [5]:
dfEducation['numCd'] = dfEducation['cd'].str.extract('(\d+)', expand=False).astype(int)
dfEducation['strCd'] = dfEducation['cd'].str.extract('([A-Z][A-Z])', expand=False).astype(str)

dfFinance['numCd'] = dfFinance['cd'].str.extract('(\d+)', expand=False).astype(int)
dfFinance['strCd'] = dfFinance['cd'].str.extract('([A-Z][A-Z])', expand=False).astype(str)

dfIndustry['numCd'] = dfIndustry['cd'].str.extract('(\d+)', expand=False).astype(int)
dfIndustry['strCd'] = dfIndustry['cd'].str.extract('([A-Z][A-Z])', expand=False).astype(str)

In [6]:
dfEducation = dfEducation.where(dfEducation['Year'] == 2021)
dfFinance = dfFinance.where(dfFinance['Year'] == 2021)
dfIndustry = dfIndustry.where(dfIndustry['Year'] == 2021)

In [7]:
dfEducation.dropna(axis = 0, how = 'any', inplace = True)
dfFinance.dropna(axis = 0, how = 'any', inplace = True)
dfIndustry.dropna(axis = 0, how = 'any', inplace = True)

In [29]:
merged_data = dfEducation.merge(dfFinance, left_on = 'cd', right_on = 'cd', suffixes = ('_education', "_finance"))
all_data = merged_data.merge(dfIndustry, left_on = 'cd', right_on = 'cd')

In [32]:
all_data.describe()

,Year_education,Bachelors_degree_or_higher,high_school_or_some_degree,Less_than_high_school_graduate,numCd_education,Year_finance,Less_than_$5000,$5000_to_$9999,$10000_to_$14999,$15000_to_$19999,...,Female_Retail_trade,Female_Transportation_warehousing_utilities,Female_Information,Female_Finance_insurance_realestate_rental_leasing,Female_Professional_scientific_management_administrative_waste_management_services,Female_Educationalservices_healthcare_socialassistance,Female_Arts_entertainment_recreation_accommodation_foodservices,Female_Otherservices_except_Public_administration,Female_Public_administration,numCd
count,437.0,437.000000,4.370000e+02,437.000000,437.000000,437.0,437.000000,437.000000,437.000000,437.00000,...,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000
mean,2021.0,147891.800915,2.707819e+05,49541.775744,10.077803,2021.0,9179.716247,7145.610984,11408.311213,10971.21968,...,10189.986270,3562.498856,2010.908467,10386.919908,12576.521739,41026.578947,7030.624714,4535.114416,6583.203661,10.077803
std,0.0,82493.379197,1.132051e+05,31241.260932,10.606316,0.0,8897.492841,7058.513332,8230.077694,7341.40114,...,4264.123876,2116.184647,1809.353362,5277.059098,7798.901120,16191.493819,3848.107229,2270.527761,4364.966489,10.606316
min,2021.0,2872.000000,1.359300e+04,2072.000000,0.000000,2021.0,64.000000,267.000000,273.000000,293.00000,...,443.000000,84.000000,0.000000,566.000000,272.000000,1494.000000,350.000000,191.000000,235.000000,0.000000
25%,2021.0,93616.000000,1.986190e+05,31769.000000,3.000000,2021.0,5816.000000,4439.000000,7299.000000,6937.00000,...,7637.000000,2263.000000,1070.000000,6870.000000,7387.000000,30562.000000,4913.000000,3075.000000,4079.000000,3.000000
50%,2021.0,127207.000000,2.690800e+05,43681.000000,6.000000,2021.0,8251.000000,6065.000000,10525.000000,10533.00000,...,9741.000000,3099.000000,1603.000000,9325.000000,10613.000000,40937.000000,6287.000000,4192.000000,5586.000000,6.000000
75%,2021.0,182977.000000,3.415510e+05,58339.000000,13.000000,2021.0,11104.000000,8709.000000,14233.000000,13970.00000,...,12575.000000,4293.000000,2303.000000,13159.000000,15570.000000,52008.000000,8529.000000,5573.000000,7966.000000,13.000000
max,2021.0,561182.000000,1.191468e+06,257422.000000,52.000000,2021.0,168882.000000,130319.000000,137111.000000,121587.00000,...,32623.000000,16699.000000,18872.000000,29256.000000,47166.000000,120213.000000,44522.000000,17025.000000,37435.000000,52.000000